<nav>
    {# Solution sans JS mais faudra en ajouter plus tard https://www.w3schools.com/howto/howto_js_dropdown.asp #}
	<div>
		<a href="{{ path('app_default') }}">
			<i></i>
			Saison Actuelle
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="{{ path('app_default') }}">
					<i></i>
					Accueil
				</a>
			</li>
			<li>
				<span>
					<i></i>
					Jeux et Serveurs
				</span>
				<ul class="sub-menu">
					<li>
						<a href="{{ path('app_default') }}">
							Jeux
						</a>
					</li>
					<li>
						<a href="bonjour">
							Serveurs
						</a>
					</li>
				</ul>
			</li>
			<li>
				<span>
					<i></i>
					Art
				</span>
				<ul class="sub-menu">
					<li>
						<a href="{{ path('app_default') }}">
							Dessin
						</a>
					</li>
					<li>
						<a href="{{ path('app_default') }}">
							Musique
						</a>
					</li>
					<li>
						<a href="{{ path('app_default') }}">
							Vidéo
						</a>
					</li>
					<li>
						<a href="{{ path('app_default') }}">
							Photo
						</a>
					</li>
				</ul>
			</li>
			<li>
				<span>
					<i></i>
					Social
				</span>
				<ul class="sub-menu">
					<li>
						<a href="{{ path('app_default') }}">
							Réseaux sociaux
						</a>
					</li>
					<li>
						<a href="{{ path('app_default') }}">
							Relation
						</a>
					</li>
					<li>
						<a href="{{ path('app_default') }}">
							Membres
						</a>
					</li>
				</ul>
			</li>
			<li>
				<span>
					<i></i>
					Autre
				</span>
				<ul class="sub-menu">
					<li>
						<a href="{{ path('app_default') }}">
							On Verra
						</a>
					</li>
				</ul>
			</li>
			<a href="{{ path('app_default') }}">
				<i></i>
				Compte
			</a>
		</ul>
	</div>
</nav>
